In [1]:
import pandas as pd, numpy as np
import sys, os
from pprint import pprint
import random
from datetime import datetime, timedelta

In [2]:
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
def print_runtime():
    print(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
    print("-"*19)
print_runtime()

2021-09-14 23:41:23
-------------------

# 1. GearVN Data

In [4]:
source_path = "./Data-GEARVN.csv"
pdf_gearvn = pd.read_csv(source_path)
print(pdf_gearvn.shape)
display(pdf_gearvn.head())
print_runtime()

(9782, 28)

,ID tích hợp,Thời gian,Kho lấy hàng,Thành phố,Quận huyện,Mã sản phẩm,Ngành,Hãng,Mã chung,Mã riêng,...,Ghi chú của CSKH,Trạng thái,Chăm sóc KH,Thiếu,Thieu,DH thiếu,Ngày xác nhận,Thời gian xác nhận,Nguồn đơn hàng,Column1
0,hd211915,07-02-21 21:48,2 HCM-HHT-KD-V.2,Hồ Chí Minh,Quận Gò Vấp,CHU-LOG-G304,CHU,LOGITECH,NaN,NaN,...,thieu chuot,Thành công,Nguyễn Anh Nguyên,-,-,-,07-02-21 21:55,0:02:04,SHOWROOMHHT,NaN
1,hd211915,07-02-21 21:48,2 HCM-HHT-KD-V.2,Hồ Chí Minh,Quận Gò Vấp,KB-COR-K63-WIRELESS-MX-RD,KB,CORSAIR,NaN,NaN,...,thieu chuot,Thành công,Nguyễn Anh Nguyên,-,-,-,07-02-21 21:55,0:00:00,SHOWROOMHHT,NaN
2,hd211916,07-02-21 21:47,8 HCM-CQ-KD,Hồ Chí Minh,Quận 1,HDD-WD-BLUE-1TB,HDD,WD,NaN,NaN,...,NaN,Thành công,Trần Thiện Tý,-,-,-,07-02-21 21:48,0:00:00,SHOWROOMHHT,NaN
3,hd211914,07-02-21 21:42,2 HCM-HHT-KD-V.2,Bình Dương,Thị xã Tân Uyên,TAI-STE-ARCTIS-7-WHITE,TAI,STEELSERIES,NaN,NaN,...,NaN,Hệ thống hủy,Nguyễn Anh Nguyên,-,-,-,07-02-21 21:44,0:00:00,SHOWROOMHHT,NaN
4,hd211914,07-02-21 21:42,2 HCM-HHT-KD-V.2,Bình Dương,Thị xã Tân Uyên,PK-KING-BINH-GIU-NHIET-BLK,PK,KINGSTON,NaN,NaN,...,NaN,Hệ thống hủy,Nguyễn Anh Nguyên,-,-,-,07-02-21 21:44,0:00:00,SHOWROOMHHT,NaN

2021-09-14 23:41:24
-------------------

In [34]:
pdf_gearvn[["ID", "Modified"]] = pdf_gearvn["ID tích hợp"].str.split("-", expand=True)
pdf_gearvn["Modified"] = pdf_gearvn["Modified"].fillna(0).astype(int)
display(pdf_gearvn[["ID tích hợp", "ID", "Modified"]].head())
print_runtime()

  ID tích hợp        ID  Modified
0    hd211915  hd211915         0
1    hd211915  hd211915         0
2    hd211916  hd211916         0
3    hd211914  hd211914         0
4    hd211914  hd211914         0

2021-09-15 00:18:53
-------------------

In [35]:
pdf_gearvn.dtypes

ID tích hợp            object
Thời gian              object
Kho lấy hàng           object
Thành phố              object
Quận huyện             object
Mã sản phẩm            object
Ngành                  object
Hãng                   object
Mã chung               object
Mã riêng               object
Chiết khấu             object
Giá                    object
Giá sau CK             object
Số lượng                int64
Giá trị đơn hàng       object
Tiền chiết khấu        object
Tiền đặt cọc          float64
Tổng thu               object
Ghi chú của CSKH       object
Trạng thái             object
Chăm sóc KH            object
Thiếu                  object
Thieu                  object
DH thiếu               object
Ngày xác nhận          object
Thời gian xác nhận     object
Nguồn đơn hàng         object
Column1               float64
ID                     object
Modified                int64
dtype: object

In [38]:
display(
    pdf_gearvn
    [(pdf_gearvn["Modified"]>1)]
    [["ID tích hợp", "ID", "Modified"]]
    .head()
)

print_runtime()

    ID tích hợp        ID  Modified
121  hd203913-3  hd203913         3
122  hd203913-3  hd203913         3
123  hd203913-3  hd203913         3
124  hd203913-3  hd203913         3
125  hd203913-3  hd203913         3

2021-09-15 00:20:11
-------------------

In [5]:
pdf_agent = pdf_gearvn[["Chăm sóc KH"]].drop_duplicates()
print(f"Number of agents: {pdf_agent.shape[0]}")
display(pdf_agent.head())

print_runtime()

Number of agents: 22

          Chăm sóc KH
0   Nguyễn Anh Nguyên
2       Trần Thiện Tý
5      Phạm Ngọc Hiếu
9         Trần Anh Vũ
12      Võ Quốc Khánh

2021-09-14 23:41:24
-------------------

In [6]:
pdf_gearvn.columns

Index(['ID tích hợp', 'Thời gian', 'Kho lấy hàng', 'Thành phố', 'Quận huyện',
       'Mã sản phẩm', 'Ngành', 'Hãng', 'Mã chung', 'Mã riêng', 'Chiết khấu',
       'Giá', 'Giá sau CK', 'Số lượng', 'Giá trị đơn hàng', 'Tiền chiết khấu',
       'Tiền đặt cọc', 'Tổng thu', 'Ghi chú của CSKH', 'Trạng thái',
       'Chăm sóc KH', 'Thiếu', 'Thieu', 'DH thiếu', 'Ngày xác nhận',
       'Thời gian xác nhận', 'Nguồn đơn hàng', 'Column1'],
      dtype='object')

In [21]:
pdf_gearvn["Trạng thái"].unique()

array(['Thành công', 'Hệ thống hủy', 'Đã xác nhận', 'Đang xác nhận'],
      dtype=object)

# Products

# Question:
- Should we put "Chiết khấu" and "Tiền chiết khấu" into pdf_prod?

In [7]:
# Consider another option
# ls_prod_col = ["Ngành", "Hãng", "Mã sản phẩm", "Kho lấy hàng", "Giá"]
pdf_prod = pdf_gearvn[[
    "Ngành", "Hãng", "Mã sản phẩm", "Kho lấy hàng", "Chiết khấu", "Giá", "Tiền chiết khấu"
    ]].drop_duplicates()
print(f"Number of products: {pdf_prod.shape[0]}")
display(pdf_prod.head())

print_runtime()

Number of products: 5895

,Ngành,Hãng,Mã sản phẩm,Kho lấy hàng,Chiết khấu,Giá,Tiền chiết khấu
0,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,NaN,"790,000",NaN
1,KB,CORSAIR,KB-COR-K63-WIRELESS-MX-RD,2 HCM-HHT-KD-V.2,NaN,"2,490,000",NaN
2,HDD,WD,HDD-WD-BLUE-1TB,8 HCM-CQ-KD,NaN,"980,000",NaN
3,TAI,STEELSERIES,TAI-STE-ARCTIS-7-WHITE,2 HCM-HHT-KD-V.2,"350,000","3,990,000","350,000"
4,PK,KINGSTON,PK-KING-BINH-GIU-NHIET-BLK,2 HCM-HHT-KD-V.2,NaN,-,"350,000"

2021-09-14 23:41:25
-------------------

- All the Logitech mice G304 have the same price 790000, although they have different "Discount" and "Total discount"
- We can assume that "Total discount" and "Discount" are belong to pdf_orders or pdf_order_details, where "Total discount" is applied for the whole order while "Discount" is "Total discount" divided by number of products.
- If the policy is that, the mouse and kb are calculated in the total price, but then covered by the discount, we can add another column to compare between "Total discount", "Mouse and kb". If they're all matched in the orders which contained both PC parts and gears, then we have a way to compare package included / separated sales for GEAR.

In [40]:
display(pdf_prod[
    (pdf_prod["Ngành"]=="CHU")
    & (pdf_prod["Hãng"]=="LOGITECH")
    & (pdf_prod["Mã sản phẩm"]=="CHU-LOG-G304")
])

,Ngành,Hãng,Mã sản phẩm,Kho lấy hàng,Chiết khấu,Giá,Tiền chiết khấu
0,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,0,790000,0
634,CHU,LOGITECH,CHU-LOG-G304,8 HCM-CQ-KD,36443,790000,1770000
920,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,17133,790000,550000
1992,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,123582,790000,4000000
2748,CHU,LOGITECH,CHU-LOG-G304,6 HN-TH-KD,0,790000,0
2751,CHU,LOGITECH,CHU-LOG-G304,8 HCM-CQ-KD,0,790000,0
4319,CHU,LOGITECH,CHU-LOG-G304,6 HN-TH-KD,15521,790000,300000
4461,CHU,LOGITECH,CHU-LOG-G304,3 HCM-HVT-KD,0,790000,0
8248,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,0,790000,1040000

In [19]:
pdf_prod[
    (pdf_prod["Ngành"]=="KB")
    & (pdf_prod["Hãng"]=="CORSAIR")
    & (pdf_prod["Mã sản phẩm"]=="KB-COR-K63-WIRELESS-MX-RD")
]

,Ngành,Hãng,Mã sản phẩm,Kho lấy hàng,Chiết khấu,Giá,Tiền chiết khấu
1,KB,CORSAIR,KB-COR-K63-WIRELESS-MX-RD,2 HCM-HHT-KD-V.2,0,2490000,0
5572,KB,CORSAIR,KB-COR-K63-WIRELESS-MX-RD,3 HCM-HVT-KD,0,2490000,0

In [16]:
pdf_prod["Chiết khấu"] = (
    pdf_prod["Chiết khấu"].str.replace(",", "")
    .fillna(0.0)
    .astype(int)
)

pdf_prod["Tiền chiết khấu"] = (
    pdf_prod["Tiền chiết khấu"].str.replace(",", "")
    .fillna(0.0)
    .astype(int)
)
pdf_prod["Giá"] = (
    pdf_prod["Giá"].str.replace(",", "").replace(" -   ", "0")
    
    .fillna(0.0)
    .astype(int)
)
display(pdf_prod.head())

,Ngành,Hãng,Mã sản phẩm,Kho lấy hàng,Chiết khấu,Giá,Tiền chiết khấu
0,CHU,LOGITECH,CHU-LOG-G304,2 HCM-HHT-KD-V.2,0,790000,0
1,KB,CORSAIR,KB-COR-K63-WIRELESS-MX-RD,2 HCM-HHT-KD-V.2,0,2490000,0
2,HDD,WD,HDD-WD-BLUE-1TB,8 HCM-CQ-KD,0,980000,0
3,TAI,STEELSERIES,TAI-STE-ARCTIS-7-WHITE,2 HCM-HHT-KD-V.2,350000,3990000,350000
4,PK,KINGSTON,PK-KING-BINH-GIU-NHIET-BLK,2 HCM-HHT-KD-V.2,0,0,350000

In [15]:
pdf_prod["Giá"].unique()

array(['790000', '2490000', '980000', '3990000', ' -   ', '1490000',
       '1520000', '2790000', '435000', '340000', '290000', '1990000',
       '380000', '7290000', '1650000', '1350000', '3790000', '990000',
       '6190000', '550000', '2590000', '100000', '150000', '2690000',
       '3190000', '6790000', '4190000', '890000', '450000', '120000',
       '19990000', '2390000', '430000', '5190000', '1550000', '1590000',
       '520000', '499000', '400000', '3250000', '3590000', '590000',
       '1090000', '1740000', '139000', '5990000', '1690000', '600000',
       '250000', '2090000', '540000', '4290000', '13990000', '18990000',
       '5490000', '56990000', '4990000', '9290000', '6850000', '3000000',
       '285000', '490000', '1190000', '15750000', '4090000', '740000',
       '690000', '180000', '700000', '730000', '2750000', '4590000',
       '5350000', '200000', '28990000', '840000', '640000', '21990000',
       '3490000', '2050000', '2350000', '1450000', '1790000', '1290000',
       '50000', '320000', '4490000', '2150000', '4790000', '5590000',
       '1150000', '330000', '8390000', '3970000', '2250000', '3350000',
       '160000', '5890000', '9490000', '870000', '9900000', '345000',
       '27990000', '6990000', '1890000', '4690000', '8290000', '850000',
       '940000', '610000', '3690000', '2190000', '21490000', '580000',
       '1950000', '1250000', '17490000', '650000', '2990000', '4390000',
       '16890000', '12990000', '5790000', '8690000', '410000', '22990000',
       '8490000', '9090000', '70000', '350000', '3850000', '176000',
       '539000', '187000', '165000', '1210000', '2915000', '2365000',
       '132000', '3960000', '693000', '390000', '3890000', '3090000',
       '365000', '24990000', '3290000', '8190000', '7490000', '23990000',
       '1500000', '900000', '1750000', '20990000', '7990000', '2550000',
       '3300000', '2890000', '620000', '1700000', '29990000', '1540000',
       '4650000', '3400000', '1470000', '33990000', '12490000', '4150000',
       '10990000', '25490000', '2800000', '7690000', '13490000',
       '3650000', '2200000', '1390000', '799000', '6490000', '11190000',
       '170000', '360000', '17890000', '190000', '10190000', '6450000',
       '11999000', '6590000', '80000', '3150000', '2290000', '63990000',
       '6390000', '19950000', '39000000', '3390000', '51990000',
       '23500000', '5690000', '2045000', '7890000', '2650000', '4890000',
       '5900000', '6690000', '1050000', '17400000', '2450000', '1100000',
       '300000', '1040000', '5700000', '24490000', '3100000', '2950000',
       '1180000', '9790000', '9250000', '32990000', '760000', '3900000',
       '880000', '510000', '259000', '19290000', '18690000', '17690000',
       '310000', '379000', '2330000', '18490000', '1600000', '8900000',
       '1420000', '2220000', '23490000', '34490000', '13890000',
       '15950000', '43800000', '36890000', '9200000', '89990000',
       '15250000', '6900000', '16490000', '46990000', '2000000',
       '1300000', '31990000', '270000', '30990000', '5090000', '12390000',
       '1400000', '11990000', '4260000', '5300000', '13500000', '9390000',
       '11490000', '6090000', '1170000', '10490000', '28490000',
       '39590000', '2600000', '16590000', '8990000', '7190000', '8890000',
       '199000', '16990000', '22490000', '830000', '11890000', '370000',
       '1800000', '149000', '4600000', '5750000', '45990000', '3080000',
       '25990000', '57990000', '3500000', '12200000', '12190000',
       '140000', '15990000', '4950000', '7390000', '440000', '1440000',
       '7650000', '14500000', '5000000', '26990000', '5660000', '950000',
       '3550000', '11900000', '9990000', '2500000', '14990000', '195000',
       '2900000', '13790000', '2700000', '35990000', '27390000',
       '79990000', '15900000', '315000', '4500000', '8350000', '18590000'],
      dtype=object)

# Order and order detail

In [ ]:
ls_od_col = [
    "ID tích hợp", "Mã sản phẩm", "Số lượng", 
    "ID", "Modified"
]

In [ ]:
pdf_order = pdf_gearvn[[
    "ID tích hợp", 
    "Thời gian", # Sales created order
    "Giá trị đơn hàng", "Chiết khấu", "Tiền chiết khấu", "Tiền đặt cọc", "Tổng thu",
    "Ghi chú của CSKH", "Trạng thái", "Chăm sóc KH", "Thiếu", "Thieu", "DH thiếu", 
    "Ngày xác nhận", # Storage confirmed timestamp
    "Nguồn đơn hàng",
]].fillna("0").groupby(["ID tích hợp"], as_index=False).agg({
    "Thời gian": "max", 
    "Giá trị đơn hàng": "max", 
    "Tiền chiết khấu": "max", 
    "Tiền đặt cọc": "max", 
    "Tổng thu": "max",
    "Ghi chú của CSKH": "max", 
    "Trạng thái": "max", 
    "Chăm sóc KH": "max", 
    "Thiếu": "max", 
    "Thieu": "max", 
    "DH thiếu": "max", 
    "Ngày xác nhận": "max", 
    "Nguồn đơn hàng": "max"
})

print(f"Number of order: {pdf_order.shape[0]}")
display(pdf_order.head())

print_runtime()

Number of order: 3400

,ID tích hợp,Thời gian,Giá trị đơn hàng,Tiền chiết khấu,Tiền đặt cọc,Tổng thu,Ghi chú của CSKH,Trạng thái,Chăm sóc KH,Thiếu,Thieu,DH thiếu,Ngày xác nhận,Nguồn đơn hàng
0,hd108850-9,05-02-21 19:46,"294,000,000",0,0,"294,000,000",0,Hệ thống hủy,Nguyễn Anh Tuấn,1,-,1,06-02-21 7:58,OTHER
1,hd170656-6,06-02-21 18:11,"193,500,000","1,270,000",0,"193,500,000",0,Hệ thống hủy,Nguyễn Thế Vinh,-,-,-,06-02-21 18:17,OTHER
2,hd203577-1,01-02-21 8:11,"17,830,000",0,0,"17,830,000",0,Thành công,Nguyễn Thế Nam,-,-,-,02-02-21 12:52,SHOWROOMHHT
3,hd203879-1,01-02-21 8:43,0,"9,000,000",0,0,0,Thành công,Lê Quang Hoàng Dũng,-,-,-,02-04-21 9:05,SHOWROOMHHT
4,hd203913-2,05-02-21 18:41,"147,250,003","4,329,997",0,"147,250,003",0,Hệ thống hủy,0,-,-,-,0,OTHER

2021-09-15 00:05:59
-------------------

### Need to clear the relationship between "Chiết khấu", "Giá", "Giá sau CK" as some records showed inconsistent value